/*Código armado por La Foca Loca S.A. Suavemente alterado por Gustavo Malamud */

* {
  box-sizing: border-box;
  font-size: 12px;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');
body {
  font-family: 'Open Sans', Arial, sans-serif;
  margin: 0 auto;
  min-height: 100vh;
  font-size: 1.5rem;
  background-image: url(../images/adventure.jpg);
}

h1 {
  text-transform: uppercase;
  letter-spacing: -0.03em;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: #333;
  font-size: 2rem;
}

ul {
  padding-left: 0;
  list-style: none;
}

li {
  padding: 5px 0;
  animation: fadein 5s;
  margin-left: 2em;
}

li::before {
  content: "• ";
  color: #EC6778;
}

li {
  font-size: 1.2rem;
}

.bienvenido span {
  animation: titulazo 2s infinite alternate;
  margin: 0;
  background-color: #333;
  color: #FFF;
  padding: 2%;
  font-size: 1.7rem;
}

.col-40 h2 {
  font-size: 1.5rem;
}

.col-40,
.col-60 {
  display: table-cell;
  margin: 0;
  vertical-align: top;
}

.col-40 {
  background: #FFF;
  padding: 30px;
  color: #000;
  width: 30%;
  padding: 0 2%;
}

.col-60 {
  background-color: #666;
  width: 70%;
}

.pieza {
  width: 33.3333%;
  height: 35vh;
  margin: 0;
  padding: 0;
  float: left;
  border: 1px solid #666;
}

.pieza img {
  width: 100%;
  height: 100%;
}

#flecha {
  font-size: 60px;
}

.texto-centrado {
  text-align: center;
}

#juego {
  text-align: center;
  animation: fadein 1s;
  width: 700px;
  height: 100vh;
  margin: 0 auto;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes titulazo {
  from {
    background-color: #F00;
  }
  to {
    background-color: yellow;
  }
}

#audioplayer{display:flex;position:absolute;right:0;bottom:0;height:auto;width:350px;z-index:9999;background-color:#e2e2e2;list-style: none;}
audio{background-color:#e2e2e2;}
.controlx{font-size:2em;margin:2%;}
.controlx a{text-decoration:none;}

.imagen-final {
  width: 100%;
}

@media only screen and (max-width:37.5em) {
  .col-40 {
    display: none;
    visibility: hidden;
  }
  .col-60 {
    width: 100%;
  }
  #juego {
    width: 100%;
  }
  #audioplayer{visibility: hidden;display:none;}
}